Package: i2p-ssh-config
Version: 0.1
Architecture: all
Maintainer: lair repo key <notreal@eventually.com>
Installed-Size: 32
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
