Package: i2p-ssh-config
Version: 0.1
Architecture: all
Maintainer: repo key <notreal@eventually.com>
Installed-Size: 46
Depends: openssh-server, i2pd
Section: net
Priority: optional
Homepage: https://github.com/eyedeekay/i2p-ssh-config
Description: Automatically configure i2p with SSH
 This is a package with configuration files for i2pd to configure a tunnel for
 ssh and a wrapper for sshd to safely configure an OpenSSH server that works
 with the i2p tunnel. It is intended for automatic, self-authenticating,
 hidden ssh servers for easy, secure system administration.
